<h1>Новый интерфейс Webasyst 2</h1>
<p>Общие задачи обновления интерфейса бекенда Webasyst:</p>
<ul>
    <li><strong>Адаптивность.</strong> Оптимизировать интерфейс для всех типов современных устройств: компьютеров с курсором, планшетов, мобильных устройств с малым размером экрана.</li>
    <li><strong>Стиль.</strong> Выглядеть круто, современно, универсально, уникально. Должно быть самобытно, но при этом привычно и максимально нативно в рамках операционной системы пользователя.</li>
    <li><strong>Удобство.</strong> Сохранить удобство работы с интерфейсом в течение всего рабочего дня. Не должно быть никаких элементов, от которых устает зрение или в которых чувствуется, что дизайнер перестарался.</li>
    <li><strong>Гайдлайны.</strong> Разработчикам должно быть просто разрабатывать интерфейсы своих приложений, даже не имея в этом значительного опыта. Должны быть готовые инструменты для создания интерфейсов, рекомендации, гайдлайны и другие полезные материалы (UI Kit).</li>
    <li><strong>IE 10+.</strong> Отказаться от поддержки устаревших браузеров и использовать всевозможные новые, в том числе экспериментальные, фичи HTML5 (flexbox, grid layout, backdrop-filter и т.п.).</li>
    <li>Заставить конкурентов лопнуть от зависти.</li>
</ul>

<h3>Мягкий переход wa-1.3 &rarr; wa-2.0</h3>
<ul>
    <li>Семантика wa-1.3.css сохраняется настолько, насколько это технически возможно. </li>
    <li>wa-2.0.css подключается по умолчанию, но приложение в праве использовать wa-1.3.css и выглядеть «по-старому» в течение некоторого (довольно продолжительного) переходного периода.</li>
</ul>

<img src="{$wa_url}wa-apps/ui/img/wa2ui-idea.jpg" style="max-width: 100%;" />
<p>Парадигма интерфейса — <b>идеальная аппликация</b>.</p>
<ul>
<li>Два базовых уровня (слоя): базовый уровень контента и уровень надвисяющих и отбрасывающих тень блоков с закругленными краями.</li>
<li>Каждый уровень &mdash; плоский.</li>
<li>«Сетка» (grid) заметна только на базовом уровне, но и то достаточно неявно: простые линии, легкие градиенты.</li>
<li>Тени допускаются везде, но только для обозначения иерархии уровней и никак не для обозначения объема объектов. Мир <em>идеальной аппликации</em> плоский.</li>
<li>Все тени мягкие и крупные.</li>
<li>Матовые полупрозрачные (заблуренные) слои, яркие градиенты, параллакс, наложение цветов &mdash; все это идеально вписывается в интерфейс.</li>
<li>Прямоугольные края для только на базовом уровне. Все, что «парит» выше &mdash; со скругленными краями.</li>
</ul>
