{$_title = ".menu-v"}
{$wa->title($_title|json_encode)}

{$_menu = [
[
    "name" => "Главная",
    "url" => "javascript:void(0);",
    "icon_class" => "fas fa-home"
],
[
    "name" => "Блог",
    "url" => "javascript:void(0);",
    "icon_url" => "{$wa_url}wa-apps/blog/img/blog.png"
],
[
    "name" => "Сайт",
    "url" => "javascript:void(0);",
    "icon_url" => "{$wa_url}wa-apps/site/img/site.png"
],
[
    "name" => "Разработка",
    "url" => "javascript:void(0);",
    "icon_url" => "{$wa_url}wa-apps/developer/img/developer.png"
],
[
    "name" => "Компания",
    "url" => "javascript:void(0);",
    "icon_class" => "fas fa-star"
]
]}

{function name="_render"}
<ul class="menu-v">
{foreach $_menu as $_item}
    <li>
        <a href="{$_item.url|escape}">
            {if !empty($_item.icon_class) && !empty($_item.icon_uri)}<i class="{$_item.icon_class}" style="background-image: url('{$_item.icon_uri}')"></i>{elseif !empty($_item.icon_class)}<i class="{$_item.icon_class}"></i>{elseif !empty($_item.icon_url)}<img src="{$_item.icon_url}" alt="{$_item.name|escape}">{/if}

            {$_item.name|escape}
        </a>
    </li>
{/foreach}
</ul>
{/function}

<div class="u-component-page">
    <h1 class="u-page-title">{$_title|escape}</h1>
    <p>Меню навигации, оптимизированное для размещения в сайдбаре (боковой колонке навигации). С иконками или без. Плоское или древовидное.</p>

    <div class="line">
        {_render}
    </div>

    <div class="line">
        <textarea class="u-code-preview" disabled>{_render|escape}</textarea>
    </div>

    <script>
        $.ui.title.set({$_title|json_encode});
    </script>
</div>
